<div class="w-100 d-flex justify-content-center mb-4 " >

    <div class="d-flex justify-content-between col-8">
        <div style="background-color: white;" class="order-item-list shadow-lg rounded-3 p-4 col-8">
            <div class="card">
                <div class="card-header d-flex">
                    <div class="col-6">
                        Ürün
                    </div>
                    <div class="col-3">
                        Adet
                    </div>
                    <div class="col-3">
                        Fiyat
                    </div>
                </div>
                <div class="card-body ">
                    <div class="basket-item d-flex">
                        <div class="col-6">
                            Xiaomi Red Mi Note 9 Pro
                        </div>
                        <div class="col-3">
                            <div>
                                2
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                500.00 ₺
                            </div>
                        </div>
                    </div>
                    <div class="basket-item d-flex">
                        <div class="col-6">
                            Xiaomi Red Mi Note 9 Pro
                        </div>
                        <div class="col-3">
                            <div>
                                2
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                500.00 ₺
                            </div>
                        </div>
                    </div>
                    <div class="basket-item d-flex">
                        <div class="col-6">
                            Xiaomi Red Mi Note 9 Pro
                        </div>
                        <div class="col-3">
                            <div>
                                2
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                500.00 ₺
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header d-flex">
                    <div class="col-6">
                        Adres Bilgisi
                    </div>
                </div>
                <div class="card-body d-flex  flex-wrap">
                    <div class="col-5 address-item">
                        <div class="address-title">Ev Adresim</div>
                        <hr>
                        <div class="address-content">
                            <div>
                                <input id="address1" type="radio" value=1 name="Adress">
                            </div>
                            <label for="address1" class="address-detail">
                                Yeni şehir Mh Mescidi Aksa Sk No 13/2 Meram Konya
                            </label>
                        </div>
                    </div>
                    <div class="col-5 address-item">
                        <div class="address-title">İş Adresim</div>
                        <hr>
                        <div class="address-content">
                            <div>
                                <input id="address2" type="radio" value=1 name="Adress">
                            </div>
                            <label for="address2" class="address-detail">
                                Yeni şehir Mh Mescidi Aksa Sk No 13/2 Meram Konya
                            </label>
                        </div>
                    </div>
                    <div class="col-5 address-item">
                        <div class="address-title">Şirket Adresim</div>
                        <hr>
                        <div class="address-content">
                            <div>
                                <input id="address3" type="radio" value=1 name="Adress">
                            </div>
                            <label for="address3" class="address-detail">
                                Yeni şehir Mh Mescidi Aksa Sk No 13/2 Meram Konya
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header d-flex">
                    <div class="col-6">
                        Ödeme Bilgisi
                    </div>
                </div>
                <div class="card-body d-flex  flex-wrap">
                    <div class="col-3 payment-item">
                        <div>
                            <input id="nakit" type="radio" value=1 name="PaymentType">
                        </div>
                        <label for="nakit" class="payment-detail">
                            Nakit
                        </label>
                    </div>
                    <div class="col-3 payment-item">
                        <div>
                            <input id="kredikarti" type="radio" value=2 name="PaymentType">
                        </div>
                        <label for="kredikarti" class="payment-detail">
                            Kredi Kartı
                        </label>
                    </div>
                    <div class="col-3 payment-item">
                        <div>
                            <input id="kapidaOdeme" type="radio" value=3 name="PaymentType">
                        </div>
                        <label for="kapidaOdeme" class="payment-detail">
                            Kapıda Ödeme
                        </label>
                    </div>


                </div>
            </div>
        </div>
        <div class="summary shadow-lg rounded-3 col-3 p-3"
             style="min-height: 300px; background-color: white; position: relative;">
            <div class="card">
                <div class="card-header d-flex">
                    <h5>Sipariş Özeti</h5>
                </div>
                <div class="card-body d-flex flex-wrap">
                    <div class="col-6">Ürün Toplam :</div>
                    <div class="col-6 fw-bold">1500.00 ₺</div>
                    <div class="col-6">Kargo Ücreti :</div>
                    <div class="col-6 fw-bold">11.99 ₺</div>
                    <div class="col-6">KDV Ücreti :</div>
                    <div class="col-6 fw-bold">18%</div>

                </div>
                <hr>
                <div style="padding: 1rem;">Teslim Adresi : <span class="fw-bold"> Ev Adresim </span></div>
                <hr>

                <div style="padding: 1rem;">Ödeme Tipi : <span class="fw-bold"> Nakit </span></div>
                <div class="card-footer d-flex flex-wrap align-items-center">
                    <div class="col-6">Genel Toplam :</div>
                    <div class="col-6 fw-bold color-main " style="font-size: 1.5rem;">1756.25 ₺ </div>
                </div>
            </div>
            <div class="p-4 w-100" style="position: absolute; bottom: 10px;left: 0;">
                <button type="button" class="btn btn-primary harlem-btn w-100 background-color-main"
                        onclick="/*Product Detail href=\Order\Complete*/">
                    Sepeti Onayla
                </button>
            </div>
        </div>
    </div>
</div>