@model List<Harlem.Entity.DbModels.AccountUserAddress>
<div class="w-100 d-flex justify-content-center mb-4 ">
    <div class="d-flex justify-content-between col-8 p-4 shadow-lg rounded-3" style="background:white">
        <div class="card mt-3">
            <div class="card-header d-flex">
                <div class="col-6">
                    <h5>Adres Bilgisi</h5>
                </div>
            </div>
            <div class="card-body d-flex  flex-wrap">
                @foreach (var item in Model)
                {

                    <div class="col-5 address-item n">
                        <div class="d-flex justify-content-between">
                            <div class="address-title">@item.Name</div>
                            <div>
                                <a class="p-2" onclick="window.location.href='/Account/DeleteAdress?id=@item.Id'"> <i class="fas fa-trash-alt"></i></a>
                                <a class="p-2" href="/Account/UpdateAdress?id=@item.Id"> <i class="fas fa-edit"></i></a>
                            </div>
                        </div>
                        <hr>
                        <div class="address-content">
                            <label for="address1" class="address-detail">
                                @item.AddressDetail
                            </label>
                        </div>
                    </div>

                }
            </div>
            </div>
    </div>
</div>